/compiler/target/
/tools/mal-lsp/target/
/editors/vscode/node_modules/
/editors/vscode/server/mal-lsp
/.scratch/
/.artifacts/editor-runtime/
/.direnv/
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
/result
